<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/uploadPhoto.css">
    <link rel="stylesheet" href="../styles/sideBar.css">
</head>

<body>
        <div id="menu-container">
        </div>
        <div class="contenedor">
            <div class="circulo">
              <i class="fas fa-user"></i>
            </div>
            <button class="btn-guardar">Guardar</button>
          </div>
          
    <script src="../js/sideBar.js"></script>
    <script src="../js/reserva.js"></script>
    
</body>

</html>